{% extends "base.html" %}

{% block content %}

<style>
body {
    background-image:url('/static/images/lincolnskyline.jpg');
  
}
</style>


<h1>About</h1>

<p>This app is designed to help music listeners of Lincoln know where to go for shows according to their specific genre taste. We concentrated on three venues: Pinnacle Bank Arena, The Bourbon, and Vega. With these venues we looked back on the most popular shows that took place over the past year and a half.</p>


<h2>Contributors</h2>

<p>Joe Grobeck</p>
<p>Rich Mazikani</p>

<img src="/static/images/ericchurch.jpg"
style="width:190px;height:98px;"/>

<img src="/static/images/odesza.jpeg"
style="width:190px;height:98px;"/>

<img src="/static/images/jcole.jpg"
style="width:190px;height:98px;"/>



{% endblock %}
